@charset "utf-8";

body {
    background-image: url("Images/Background/156.png");
    background-repeat: repeat;
    background-color: black;
	background-position: center;
	width: 100%;
	height: 99vh;
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

.cooltext {
	color: rgba;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-shadow: -1px 0 red, 0 1px white, 1px 0 white, 0 -1px red;
	font-weight: bolder;
}

p {
	color: rgba(255,221,0,1.00);
	background-color: rgba(255,0,4,0.21);
	border: thin solid red;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}


.redborder {
	position: relative;
	background-color: rgba(0,0,0,0.8);
	width: 350px;
	height: 325px;
	text-align: center;
	border: medium double red;

	margin: 0 auto;
	
	margin-top: 1%;
	align-self: center;

}

.smallborder {
	background-color: rgba(0,0,0,0.8);
	width: 300px;
	display: inline-block;
	text-align: center;
	border: medium double red;

	margin-left: auto;
	margin-right: auto;
	
	margin-top: 1%;

}


.expend {
  display:none;  
}

.expend + .smalldesc {
  
  max-height: 5px;
  overflow:hidden;
  transition:all .5s ease;
}

.expend:checked + .smalldesc {
  max-height:350px;
  min-width: 250px;
}

label {
  color:blue;
  text-decoration:underline;
  cursor: help;
}

label:hover {
  text-decoration:none;  
}






.menuborder {
	height: 50%;
	display: flex;
	align-items: flex-end;
	text-align: center;
	
}


.soldout {
	background-color: black;
	width: 100px;
	height: 25px;
	margin-bottom: 5px;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	border: thin solid blue;
}

h3 {
	color: white;
	margin-top: 2px;
	
	align-self: center;
	user-select: none;
}

@media only screen and (max-width: 1000px) {
	.smallborder {
		display: block;
	}
}

.backbutton {
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	border: thin solid blue;
	width: 15%;
	min-width: 150px;
	height: 50px;
	text-align: center;
	padding-bottom: 10px;
	padding-right: 1px;
	margin-left: 10px;
	line-height: 50px;
}
